/* dimensions */
$content-width: 1280px

/* colors */
$bordercolor: #e9ecef
$eventcolor: #d5dfe9
$noeventcolor: #ffffff
$btnprimarycolor: #007dff
$rommhover: #0070e0
$btnhover: #0059ff
$btnactive: rgba(11,0,255,0.8)
$chartbg: #f6f7f9
$chartborder: rgba(19, 100, 205, 0.1)
$timeline: #252525
$past: #858e98

/* fonts */
$basic-font-size: 13px
$font: HelveticaNeueCyr-Light
$fontmed: HelveticaNeueCyr-Medium
$fontb: HelveticaNeueCyr-Bold
$fontr: HelveticaNeueCyr-Roman
