/* dimensions */
$content-width: 1280px

/* colors */
$bordercolor: #e9ecef
$btnprimarycolor: #007dff
$btnhover: #0059ff
$btnactive: rgba(11,0,255,0.8)
$chartbg: #f6f7f9

/* fonts */
$basic-font-size: 13px
$font: HelveticaNeue
$fontmed: HelveticaNeue-Medium