.recomendation
  min-width: 420px
  height: 37px
  margin-bottom: 8px
  padding: 7px 10px 0 10px
  border-radius: 4px
  display: flex
  align-items: center
  background-color: $bordercolor

  &__time
    font-family: $fontb

  &__room
    margin-left: 18px
    letter-spacing: 0.2px