.timing
  width: 100%
  border-bottom: 1px solid $bordercolor
  @media screen and (max-width: $content-width)
    display: flex
    flex-direction: column
    align-items: flex-start

  &__layout
    display: flex
    position: relative
    @media screen and (max-width: $content-width)
      padding-left: 0
      flex-direction: column
      border-top: 1px solid $bordercolor

  &__day-to-display
    width: 245px
    height: $timinghight
    padding-left: 24px
    display: flex
    align-items: center
    justify-content: center
    font-family: $fontmed
    font-size: 15px
    @media screen and (max-width: $content-width)
      width: 100%
      max-width: 360px
      height: $timinghightmob
      padding: 0 4.44vw
      justify-content: space-between

  &__input
    width: 50px
    height: 24px
    margin-left: 14px
    padding: 0
    border: none
    cursor: pointer
    line-height: 24px
    font-family: $fontmed

    &--activated
      color: $rommhover

    &:focus
      outline: none

  &__date
    display: flex

  &__label
    text-align: center
    width: 70px
    height: 24px
    margin-right: 14px
    padding: 0
    border: none
    cursor: pointer
    font-size: 15px
    line-height: 24px

  &__timeline
    height: 45px
    padding-left: 24px
    display: flex
    align-items: center
    font-size: 11px
    @media screen and (max-width: $content-width)
      height: $timelineheightmob
      padding-left: 181px
      border-top: 1px solid $bordercolor

  &--activated
    color: $rommhover