mixin calendar( months )
	if ( months === 3 )
		.calendar.calendar--three-months
			.calendar__inner
				.calendar__controls
					.icon.icon--arrl
					.icon.icon--arrr
				.calendar__month.calendar__month--third
					.calendar__header
						.calendar__month-name Январь 2018
						.calendar__days
							.calendar__weekday пн
							.calendar__weekday вт
							.calendar__weekday ср
							.calendar__weekday чт
							.calendar__weekday пт
							.calendar__weekday сб
							.calendar__weekday вс
					.calendar__month-body
						.calendar__week
							.calendar__day 1
							.calendar__day 2
							.calendar__day.calendar__day--current-day 3
							.calendar__day 4
							.calendar__day 5
							.calendar__day 6
							.calendar__day 7
						.calendar__week
							.calendar__day 8
							.calendar__day 9
							.calendar__day 10
							.calendar__day 11
							.calendar__day 12
							.calendar__day 13
							.calendar__day 14
						.calendar__week
							.calendar__day 15
							.calendar__day 16
							.calendar__day 17
							.calendar__day 18
							.calendar__day 19
							.calendar__day 20
							.calendar__day 21
						.calendar__week
							.calendar__day 22
							.calendar__day 23
							.calendar__day 24
							.calendar__day 25
							.calendar__day 26
							.calendar__day 27
							.calendar__day 28
						.calendar__week
							.calendar__day 29
							.calendar__day 30
							.calendar__day 31
							.calendar__day.calendar__day--other-month 1
							.calendar__day.calendar__day--other-month 2
							.calendar__day.calendar__day--other-month 3
							.calendar__day.calendar__day--other-month 4
				.calendar__month.calendar__month--third
					.calendar__header
						.calendar__month-name Февраль 2018
						.calendar__days
							.calendar__weekday пн
							.calendar__weekday вт
							.calendar__weekday ср
							.calendar__weekday чт
							.calendar__weekday пт
							.calendar__weekday сб
							.calendar__weekday вс
					.calendar__month-body
						.calendar__week
							.calendar__day.calendar__day--other-month 29
							.calendar__day.calendar__day--other-month 30
							.calendar__day.calendar__day--other-month 31
							.calendar__day 1
							.calendar__day 2
							.calendar__day 3
							.calendar__day 4
						.calendar__week
							.calendar__day 5
							.calendar__day 6
							.calendar__day 7
							.calendar__day 8
							.calendar__day 9
							.calendar__day 10
							.calendar__day 11
						.calendar__week
							.calendar__day 12
							.calendar__day 13
							.calendar__day 14
							.calendar__day 15
							.calendar__day 16
							.calendar__day 17
							.calendar__day 18
						.calendar__week
							.calendar__day 19
							.calendar__day 20
							.calendar__day 21
							.calendar__day 22
							.calendar__day 23
							.calendar__day 24
							.calendar__day 25
						.calendar__week
							.calendar__day 26
							.calendar__day 27
							.calendar__day 28
							.calendar__day.calendar__day--other-month 1
							.calendar__day.calendar__day--other-month 2
							.calendar__day.calendar__day--other-month 3
							.calendar__day.calendar__day--other-month 4
				.calendar__month.calendar__month--third
					.calendar__header
						.calendar__month-name Март 2018
						.calendar__days
							.calendar__weekday пн
							.calendar__weekday вт
							.calendar__weekday ср
							.calendar__weekday чт
							.calendar__weekday пт
							.calendar__weekday сб
							.calendar__weekday вс
					.calendar__month-body
						.calendar__week
							.calendar__day.calendar__day--other-month 26
							.calendar__day.calendar__day--other-month 27
							.calendar__day.calendar__day--other-month 28
							.calendar__day 1
							.calendar__day 2
							.calendar__day 3
							.calendar__day 4
						.calendar__week
							.calendar__day 5
							.calendar__day 6
							.calendar__day 7
							.calendar__day 8
							.calendar__day 9
							.calendar__day 10
							.calendar__day 11
						.calendar__week
							.calendar__day 12
							.calendar__day 13
							.calendar__day 14
							.calendar__day 15
							.calendar__day 16
							.calendar__day 17
							.calendar__day 18
						.calendar__week
							.calendar__day 19
							.calendar__day 20
							.calendar__day 21
							.calendar__day 22
							.calendar__day 23
							.calendar__day 24
							.calendar__day 25
						.calendar__week
							.calendar__day 26
							.calendar__day 27
							.calendar__day 28
							.calendar__day 29
							.calendar__day 30
							.calendar__day 31
							.calendar__day.calendar__day--other-month 1
	else
		.calendar.calendar--single
			.calendar__inner
				.calendar__controls
					.icon.icon--arrl
					.icon.icon--arrr