.btn
  padding: 10px 16px
  border: none
  border-radius: 4px
  background-color: $btnprimarycolor
  color: $noeventcolor
  font-family: $fontr
  letter-spacing: 0.4px
  line-height: 16px
  &:hover
    background-color: $btnhover
    cursor: pointer
  &:active
    background-color: $btnactive
    outline: none
  &:focus
    outline: none
  &--newevent
    position: absolute
    z-index: 2
    width: 100%
    min-width: 13px
    height: 100%
    padding: 0 2px
    display: flex
    justify-content: center
    align-items: center
    border-radius: 2px
    font-size: 17px
    font-family: $fontb
  &--grey
    color: $regularcolor
    background-color: $bordercolor
    &:hover
      background-color: $btngreyhov
    &:active
      background-color: $btngreyact
