.btn
  /* content (для псевдоэлементов) */
  /* позиционирование */
  /* размеры */
  /* блочная модель: внутренние и внешние отступы, box-sizing */
  padding: 10px 16px
  /* границы: border, ourline, тени */
  border: none
  border-radius: 4px
  /* трансформации */
  /* отображение и поведение: display */
  /* оформление фона */
  background-color: $btnprimarycolor
  /* цвета и оформление текста */
  color: #ffffff
  font-family: $fontmed
  /* переходы и анимация */
  /* все остальное */
  &:hover
    background-color: $btnhover
    cursor: pointer
  &:active
    background-color: $btnactive
    outline: none
  &:focus
    outline: none