.tooltip
  position: absolute
  top: 100%
  left: 50%
  width: 338px
  height: 113px
  padding: 16px
  border-radius: 8px
  box-shadow: 0 1px 16px 0 rgba(0,44,92,0.28)
  background-color: $noeventcolor
  transform: translate(-50%)
  cursor: auto
  @media screen and (max-width: $content-width)
    left: -28px
    width: 360px
    height: 130px

  &__triangle
    position: absolute
    z-index: 1
    left: 50%
    top: 100%
    border: 8px solid transparent
    border-bottom: 10px solid $noeventcolor
    transform: translate(-50%, -100%)

  &::before
    content: ''
    position: absolute
    left: 50%
    top: -15%
    border: 8px solid transparent
    border-bottom: 10px solid $noeventcolor
    transform: translate(-50%)
    @media screen and (max-width: $content-width)
      display: none

  &__heading
    line-height: 24px
    font-family: $fontb
    font-size: 15px
    //@media screen and (max-width: $content-width)

  &__icon
    position: absolute
    top: 8px
    right: 8px
    //@media screen and (max-width: $content-width)

  &__info
    margin-top: 3px
    line-height: 17px
    font-family: $fontr
    //@media screen and (max-width: $content-width)

  &__info-where
    margin-left: 8px
    //@media screen and (max-width: $content-width)

  &__users
    display: flex
    padding-top: 14px
    //@media screen and (max-width: $content-width)

  &__other-users
    line-height: 24px
    color: $past
    //@media screen and (max-width: $content-width)