include helpers/_mixins

<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Яндекс Переговорки: Главная
		script(src="https://code.jquery.com/jquery-3.2.1.min.js")
		script(src="scripts/vendors/jquery-ui-1.12.1/jquery-ui.min.js")
		script(src="scripts/vendors/datepicker-ru.js")
		link(rel="stylesheet", href="scripts/vendors/jquery-ui-1.12.1/jquery-ui.theme.min.css")
		link(rel="stylesheet", href="styles/style.min.css")
		script(src="scripts/scripts.js")
	body.app
		header.header
			.wrapper.header__layout
				+logo('#', '../img/logo.svg')
				button.btn Создать встречу
		main.schedule
			.wrapper.schedule__layout
				.schedule__aside
					.schedule__day-to-display
						.icon.icon--arrl
						span.schedule__day-name 14 дек &middot; Сегодня
						.icon.icon--arrr
					.rooms
						.rooms__floor
							.rooms__floor-name(data-y="1") 7 этаж
							+room('room--disabled', 'Ржавый Фред', '', '3 - 6 человек', '2')
							+room('', 'Прачечная', '', 'до 10 человек', '3')
							+room('', 'Жёлтый дом', 'room__name--selected', 'до 10 человек', '4')
							+room('room--disabled', 'Оранжевый тюльпан', '', 'до 10 человек', '5')
						.rooms__floor
							.rooms__floor-name(data-y="6") 6 этаж
							+room('', 'Джокер', '', '3 - 6 человек', '7')
							+room('', 'Мариванна', '', '3 - 6 человек', '8')
							+room('', 'Тонкий Боб', '', '3 - 6 человек', '9')
							+room('', 'Черная вдова', '', '3 - 6 человек', '10')
							+room('', 'Белорусский ликер', '', '3 - 6 человек', '11')
				.schedule__day
					.schedule__timeline
						.schedule__time(data-x="1").schedule__time--first
							span.schedule__hour.schedule__hour--past 8:00
						.schedule__time(data-x="2")
							span.schedule__hour.schedule__hour--past 9
						.schedule__time(data-x="3")
							span.schedule__hour.schedule__hour--past 10
						.schedule__time(data-x="4")
							span.schedule__hour.schedule__hour--past 11
						.schedule__time(data-x="5")
							span.schedule__hour 12
						.schedule__time(data-x="6")
							span.schedule__hour 13
						.schedule__time(data-x="7")
							span.schedule__hour 14
						.schedule__time(data-x="8")
							span.schedule__hour 15
						.schedule__time(data-x="9")
							span.schedule__hour 16
						.schedule__time(data-x="10")
							span.schedule__hour 17
						.schedule__time(data-x="11")
							span.schedule__hour 18
						.schedule__time(data-x="12")
							span.schedule__hour 19
						.schedule__time(data-x="13")
							span.schedule__hour 20
						.schedule__time(data-x="14")
							span.schedule__hour 21
						.schedule__time(data-x="15")
							span.schedule__hour 22
						.schedule__time(data-x="16")
							span.schedule__hour 23
						.schedule__time(data-x="17").schedule__time--last
					.schedule__chart
						.schedule__timeslot.schedule__timeslot--first
							.schedule__rowslot.schedule__rowslot--floor(data-x="1" data-y="1")
							.schedule__rowslot(data-x="1" data-y="2")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot(data-x="1" data-y="3")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot(data-x="1" data-y="4")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot(data-x="1" data-y="5")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot.schedule__rowslot--floor(data-x="1" data-y="6")
							.schedule__rowslot(data-x="1" data-y="7")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot(data-x="1" data-y="8")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot(data-x="1" data-y="9")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot(data-x="1" data-y="10")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot(data-x="1" data-y="11")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
						.schedule__timeslot
							.schedule__rowslot.schedule__rowslot--floor(data-x="2" data-y="1")
							.schedule__rowslot(data-x="2" data-y="2")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot(data-x="2" data-y="3")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot(data-x="2" data-y="4")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot(data-x="2" data-y="5")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot.schedule__rowslot--floor(data-x="2" data-y="6")
							.schedule__rowslot(data-x="2" data-y="7")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot(data-x="2" data-y="8")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot(data-x="2" data-y="9")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot(data-x="2" data-y="10")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot(data-x="2" data-y="11")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
						.schedule__timeslot
							.schedule__rowslot.schedule__rowslot--floor(data-x="3" data-y="1")
							.schedule__rowslot(data-x="3" data-y="2")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot(data-x="3" data-y="3")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot(data-x="3" data-y="4")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot(data-x="3" data-y="5")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot.schedule__rowslot--floor(data-x="3" data-y="6")
							.schedule__rowslot(data-x="3" data-y="7")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot(data-x="3" data-y="8")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot(data-x="3" data-y="9")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot(data-x="3" data-y="10")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot(data-x="3" data-y="11")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
						.schedule__timeslot
							.schedule__rowslot.schedule__rowslot--floor(data-x="4" data-y="1")
							.schedule__rowslot(data-x="4" data-y="2")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot(data-x="4" data-y="3")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot(data-x="4" data-y="4")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot(data-x="4" data-y="5")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot.schedule__rowslot--floor(data-x="4" data-y="6")
							.schedule__rowslot(data-x="4" data-y="7")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot(data-x="4" data-y="8")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot(data-x="4" data-y="9")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot(data-x="4" data-y="10")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot(data-x="4" data-y="11")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
						.schedule__timeslot
							.schedule__rowslot.schedule__rowslot--floor(data-x="5" data-y="1")
							.schedule__rowslot(data-x="5" data-y="2")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot(data-x="5" data-y="3")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w1
								.schedule__innerslot.schedule__innerslot--emptyw11
							.schedule__rowslot(data-x="5" data-y="4")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w1
								.schedule__innerslot.schedule__innerslot--emptyw11
									.btn.btn--newevent +
							.schedule__rowslot(data-x="5" data-y="5")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot.schedule__rowslot--floor(data-x="5" data-y="6")
							.schedule__rowslot(data-x="5" data-y="7")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w1
								.schedule__innerslot.schedule__innerslot--emptyw11
							.schedule__rowslot(data-x="5" data-y="8")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot(data-x="5" data-y="9")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12(data-eventid="9").schedule__innerslot--brdr
							.schedule__rowslot(data-x="5" data-y="10")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w9
								.schedule__innerslot.schedule__innerslot--emptyw3
							.schedule__rowslot(data-x="5" data-y="11")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w7
								.schedule__innerslot.schedule__innerslot--emptyw5
							+now('11:05', 'now--right1')
						.schedule__timeslot
							.schedule__rowslot.schedule__rowslot--floor(data-x="6" data-y="1")
							.schedule__rowslot(data-x="6" data-y="2")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot(data-x="6" data-y="3")
								.schedule__innerslot.schedule__innerslot--emptyw12
							.schedule__rowslot(data-x="6" data-y="4")
								.schedule__innerslot.schedule__innerslot--emptyw12
							.schedule__rowslot(data-x="6" data-y="5")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot.schedule__rowslot--floor(data-x="6" data-y="6")
							.schedule__rowslot(data-x="6" data-y="7")
								.schedule__innerslot.schedule__innerslot--emptyw11
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w1r(data-eventid="1")
							.schedule__rowslot(data-x="6" data-y="8")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12(data-eventid="5").schedule__innerslot--brdr
							.schedule__rowslot(data-x="6" data-y="9")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w4(data-eventid="9")
								.schedule__innerslot.schedule__innerslot--emptyw8
							.schedule__rowslot(data-x="6" data-y="10")
								.schedule__innerslot.schedule__innerslot--emptyw12
							.schedule__rowslot(data-x="6" data-y="11")
								.schedule__innerslot.schedule__innerslot--emptyw9
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w3r
						.schedule__timeslot
							.schedule__rowslot.schedule__rowslot--floor(data-x="7" data-y="1")
							.schedule__rowslot(data-x="7" data-y="2")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot(data-x="7" data-y="3")
								.schedule__innerslot.schedule__innerslot--emptyw12
							.schedule__rowslot(data-x="7" data-y="4")
								.schedule__innerslot.schedule__innerslot--emptyw10
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w2r
							.schedule__rowslot(data-x="7" data-y="5")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot.schedule__rowslot--floor(data-x="7" data-y="6")
							.schedule__rowslot(data-x="7" data-y="7")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w7(data-eventid="1")
								.schedule__innerslot.schedule__innerslot--emptyw5
							.schedule__rowslot(data-x="7" data-y="8")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w1(data-eventid="5")
								.schedule__innerslot.schedule__innerslot--emptyw11
							.schedule__rowslot(data-x="7" data-y="9")
								.schedule__innerslot.schedule__innerslot--emptyw7
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w5r(data-eventid="10")
							.schedule__rowslot(data-x="7" data-y="10")
								.schedule__innerslot.schedule__innerslot--emptyw4
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w3
								.schedule__innerslot.schedule__innerslot--emptyw5
							.schedule__rowslot(data-x="7" data-y="11")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
						.schedule__timeslot
							.schedule__rowslot.schedule__rowslot--floor(data-x="8" data-y="1")
							.schedule__rowslot(data-x="8" data-y="2")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot(data-x="8" data-y="3")
								.schedule__innerslot.schedule__innerslot--emptyw1
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w11r
							.schedule__rowslot(data-x="8" data-y="4")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot(data-x="8" data-y="5")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot.schedule__rowslot--floor(data-x="8" data-y="6")
							.schedule__rowslot(data-x="8" data-y="7")
								.schedule__innerslot.schedule__innerslot--emptyw12
							.schedule__rowslot(data-x="8" data-y="8")
								.schedule__innerslot.schedule__innerslot--emptyw8
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w4r(data-eventid="6")
							.schedule__rowslot(data-x="8" data-y="9")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12(data-eventid="10").schedule__innerslot--brdr
							.schedule__rowslot(data-x="8" data-y="10")
								.schedule__innerslot.schedule__innerslot--emptyw12
							.schedule__rowslot(data-x="8" data-y="11")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
						.schedule__timeslot
							.schedule__rowslot.schedule__rowslot--floor(data-x="9" data-y="1")
							.schedule__rowslot(data-x="9" data-y="2")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot(data-x="9" data-y="3")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot(data-x="9" data-y="4")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--selected
							.schedule__rowslot(data-x="9" data-y="5")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12
							.schedule__rowslot.schedule__rowslot--floor(data-x="9" data-y="6")
							.schedule__rowslot(data-x="9" data-y="7")
								.schedule__innerslot.schedule__innerslot--emptyw4
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w8r(data-eventid="2")
							.schedule__rowslot(data-x="9" data-y="8")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12(data-eventid="6").schedule__innerslot--brdr
							.schedule__rowslot(data-x="9" data-y="9")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12(data-eventid="10").schedule__innerslot--brdr
							.schedule__rowslot(data-x="9" data-y="10")
								.schedule__innerslot.schedule__innerslot--emptyw4
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w8r
							.schedule__rowslot(data-x="9" data-y="11")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
						.schedule__timeslot
							.schedule__rowslot.schedule__rowslot--floor(data-x="10" data-y="1")
							.schedule__rowslot(data-x="10" data-y="2")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot(data-x="10" data-y="3")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot(data-x="10" data-y="4")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--selected
							.schedule__rowslot(data-x="10" data-y="5")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot.schedule__rowslot--floor(data-x="10" data-y="6")
							.schedule__rowslot(data-x="10" data-y="7")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w11(data-eventid="2")
								.schedule__innerslot.schedule__innerslot--emptyw1
							.schedule__rowslot(data-x="10" data-y="8")
								.schedule__innerslot.schedule__innerslot--emptyw11
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w1r(data-eventid="7")
							.schedule__rowslot(data-x="10" data-y="9")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w7(data-eventid="10")
								.schedule__innerslot.schedule__innerslot--emptyw5
							.schedule__rowslot(data-x="10" data-y="10")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w11
								.schedule__innerslot.schedule__innerslot--emptyw1
							.schedule__rowslot(data-x="10" data-y="11")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w11
								.schedule__innerslot.schedule__innerslot--emptyw1
						.schedule__timeslot
							.schedule__rowslot.schedule__rowslot--floor(data-x="11" data-y="1")
							.schedule__rowslot(data-x="11" data-y="2")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot(data-x="11" data-y="3")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot(data-x="11" data-y="4")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot(data-x="11" data-y="5")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot.schedule__rowslot--floor(data-x="11" data-y="6")
							.schedule__rowslot(data-x="11" data-y="7")
								.schedule__innerslot.schedule__innerslot--emptyw2
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w10r(data-eventid="3")
							.schedule__rowslot(data-x="11" data-y="8")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w10(data-eventid="7")
								.schedule__innerslot.schedule__innerslot--emptyw2
							.schedule__rowslot(data-x="11" data-y="9")
								.schedule__innerslot.schedule__innerslot--emptyw4
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w8r(data-eventid="11")
							.schedule__rowslot(data-x="11" data-y="10")
								.schedule__innerslot.schedule__innerslot--emptyw2
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w10r
							.schedule__rowslot(data-x="11" data-y="11")
								.schedule__innerslot.schedule__innerslot--emptyw2
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w4
								.schedule__innerslot.schedule__innerslot--emptyw3
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w3r
						.schedule__timeslot
							.schedule__rowslot.schedule__rowslot--floor(data-x="12" data-y="1")
							.schedule__rowslot(data-x="12" data-y="2")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot(data-x="12" data-y="3")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot(data-x="12" data-y="4")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot(data-x="12" data-y="5")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot.schedule__rowslot--floor(data-x="12" data-y="6")
							.schedule__rowslot(data-x="12" data-y="7")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w3(data-eventid="3")
								.schedule__innerslot.schedule__innerslot--emptyw9
							.schedule__rowslot(data-x="12" data-y="8")
								.schedule__innerslot.schedule__innerslot--emptyw9
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w3r(data-eventid="8")
							.schedule__rowslot(data-x="12" data-y="9")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w9(data-eventid="11")
								.schedule__innerslot.schedule__innerslot--emptyw3
							.schedule__rowslot(data-x="12" data-y="10")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w9
								.schedule__innerslot.schedule__innerslot--emptyw3
							.schedule__rowslot(data-x="12" data-y="11")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w1
								.schedule__innerslot.schedule__innerslot--emptyw6
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w5r
						.schedule__timeslot
							.schedule__rowslot.schedule__rowslot--floor(data-x="13" data-y="1")
							.schedule__rowslot(data-x="13" data-y="2")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot(data-x="13" data-y="3")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot(data-x="13" data-y="4")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot(data-x="13" data-y="5")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot.schedule__rowslot--floor(data-x="13" data-y="6")
							.schedule__rowslot(data-x="13" data-y="7")
								.schedule__innerslot.schedule__innerslot--emptyw10
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w2r(data-eventid="4")
							.schedule__rowslot(data-x="13" data-y="8")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12(data-eventid="8").schedule__innerslot--brdr
							.schedule__rowslot(data-x="13" data-y="9")
								.schedule__innerslot.schedule__innerslot--emptyw12
							.schedule__rowslot(data-x="13" data-y="10")
								.schedule__innerslot.schedule__innerslot--emptyw7
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w5r
							.schedule__rowslot(data-x="13" data-y="11")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
						.schedule__timeslot
							.schedule__rowslot.schedule__rowslot--floor(data-x="14" data-y="1")
							.schedule__rowslot(data-x="14" data-y="2")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot(data-x="14" data-y="3")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot(data-x="14" data-y="4")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot(data-x="14" data-y="5")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot.schedule__rowslot--floor(data-x="14" data-y="6")
							.schedule__rowslot(data-x="14" data-y="7")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12(data-eventid="4").schedule__innerslot--brdr
							.schedule__rowslot(data-x="14" data-y="8")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12(data-eventid="8").schedule__innerslot--brdr
							.schedule__rowslot(data-x="14" data-y="9")
								.schedule__innerslot.schedule__innerslot--emptyw12
							.schedule__rowslot(data-x="14" data-y="10")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot(data-x="14" data-y="11")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
						.schedule__timeslot
							.schedule__rowslot.schedule__rowslot--floor(data-x="15" data-y="1")
							.schedule__rowslot(data-x="15" data-y="2")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot(data-x="15" data-y="3")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot(data-x="15" data-y="4")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot(data-x="15" data-y="5")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot.schedule__rowslot--floor(data-x="15" data-y="6")
							.schedule__rowslot(data-x="15" data-y="7")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12(data-eventid="4").schedule__innerslot--brdr
							.schedule__rowslot(data-x="15" data-y="8")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12(data-eventid="8").schedule__innerslot--brdr
							.schedule__rowslot(data-x="15" data-y="9")
								.schedule__innerslot.schedule__innerslot--emptyw9
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w3r(data-eventid="12")
							.schedule__rowslot(data-x="15" data-y="10")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot(data-x="15" data-y="11")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
						.schedule__timeslot
							.schedule__rowslot.schedule__rowslot--floor(data-x="16" data-y="1")
							.schedule__rowslot(data-x="16" data-y="2")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot(data-x="16" data-y="3")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot(data-x="16" data-y="4")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot(data-x="16" data-y="5")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot.schedule__rowslot--floor(data-x="16" data-y="6")
							.schedule__rowslot(data-x="16" data-y="7")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12(data-eventid="4").schedule__innerslot--brdr
							.schedule__rowslot(data-x="16" data-y="8")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12(data-eventid="8").schedule__innerslot--brdr
							.schedule__rowslot(data-x="16" data-y="9")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12(data-eventid="12").schedule__innerslot--brdr
							.schedule__rowslot(data-x="16" data-y="10")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
							.schedule__rowslot(data-x="16" data-y="11")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--w12.schedule__innerslot--brdr
						.schedule__timeslot.schedule__timeslot--last
							.schedule__rowslot.schedule__rowslot--floor(data-x="17" data-y="1")
							.schedule__rowslot(data-x="17" data-y="2")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--last
							.schedule__rowslot(data-x="17" data-y="3")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--last
							.schedule__rowslot(data-x="17" data-y="4")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--last
							.schedule__rowslot(data-x="17" data-y="5")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--last
							.schedule__rowslot.schedule__rowslot--floor(data-x="3" data-y="6")
							.schedule__rowslot(data-x="17" data-y="7")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--last
							.schedule__rowslot(data-x="17" data-y="8")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--last
							.schedule__rowslot(data-x="17" data-y="9")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--last
							.schedule__rowslot(data-x="17" data-y="10")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--last
							.schedule__rowslot(data-x="17" data-y="11")
								.schedule__innerslot.schedule__innerslot--busy.schedule__innerslot--last