include helpers/_mixins

<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Яндекс Переговорки: Главная
		link(rel="stylesheet", href="styles/style.min.css")
	body.app
		header.header
			.wrapper.header__layout
				+logo('#', '../img/logo.svg')
				button.btn Создать встречу
		main.schedule
			.wrapper.schedule__layout
				.schedule__aside
					.schedule__day-to-display
					.rooms
				.schedule__day
					.schedule__timeline
						.schedule__time.schedule__time--first
							span.schedule__hour.schedule__hour--past 8:00
						.schedule__time
							span.schedule__hour.schedule__hour--past 9
						.schedule__time
							span.schedule__hour.schedule__hour--past 10
						.schedule__time
							span.schedule__hour.schedule__hour--past 11
						.schedule__time
							span.schedule__hour 12
						.schedule__time
							span.schedule__hour 13
						.schedule__time
							span.schedule__hour 14
						.schedule__time
							span.schedule__hour 15
						.schedule__time
							span.schedule__hour 16
						.schedule__time
							span.schedule__hour 17
						.schedule__time
							span.schedule__hour 18
						.schedule__time
							span.schedule__hour 19
						.schedule__time
							span.schedule__hour 20
						.schedule__time
							span.schedule__hour 21
						.schedule__time
							span.schedule__hour 22
						.schedule__time.schedule__time
							span.schedule__hour 23
						.schedule__time.schedule__time--last
					.schedule__chart
						.schedule__timeslot.schedule__timeslot--first
						.schedule__timeslot
						.schedule__timeslot
						.schedule__timeslot
						.schedule__timeslot
						.schedule__timeslot
						.schedule__timeslot
						.schedule__timeslot
						.schedule__timeslot
						.schedule__timeslot
						.schedule__timeslot
						.schedule__timeslot
						.schedule__timeslot
						.schedule__timeslot
						.schedule__timeslot
						.schedule__timeslot
						.schedule__timeslot.schedule__timeslot--last