include helpers/_mixins

<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Яндекс Переговорки: Главная
		link(rel="stylesheet", href="styles/style.min.css")
	body.app
		header.header
			.wrapper.header__layout
				+logo('#', '../img/logo.svg')
				button.btn Создать встречу

