.event
  &__wrapper
    width: 880px
    margin: 0 auto
    padding: 0 4px

  &__heading
    margin-top: 30px
    display: flex
    justify-content: space-between

  &__body
    display: flex
    justify-content: space-between

  &__col
    display: flex
    flex-direction: column

  &__participants
    display: flex

  &__buttons
    margin: 0 auto
    width: 235px
    display: flex
    justify-content: space-between

  &__footer
    width: 100%
    height: 72px
    border-top: 1px solid $bordercolor
    display: flex
    align-items: center

  &__text-inpt

  &__recomendations-header

  &__recomendations