.now
	position: absolute
	top: -33px
	z-index: 2
	&__time
		width: 49px
		border-radius: 100px
		transform: translateX(-50%)
		background-color: $btnprimarycolor
		color: #ffffff
		line-height: 20px
		text-align: center
		font-size: 11px
	&__line
		height: 100%
		min-height: 613px
		width: 1px
		background-color: $btnprimarycolor
	&--right1
		left: calc(100% / 12)
	&--right2
		left: calc(100% / 12)*2
	&--right3
		left: calc(100% / 12)*3
	&--right4
		left: calc(100% / 12)*4
	&--right5
		left: calc(100% / 12)*5
	&--right6
		left: calc(100% / 12)*6
	&--right7
		left: calc(100% / 12)*7
	&--right8
		left: calc(100% / 12)*8
	&--right9
		left: calc(100% / 12)*9
	&--right10
		left: calc(100% / 12)*10
	&--right11
		left: calc(100% / 12)*11
	&--right12
		left: 100%