.rooms
  padding-top: 21px
  padding-left: 25px
  @media screen and (max-width: $content-width)
    background-color: $chartbgmob
    padding-left: 16px

  &__floor
    margin-bottom: 15px

  &__floor-name
    padding: 2px 0
    color: $past
    font-size: 11px
    font-family: $fontmed
    letter-spacing: 0.4px
    text-transform: uppercase
    //@media screen and (max-width: $content-width)
