.room
  line-height: 17px
  padding: 7px 0
  margin-bottom: 2px
  @media screen and (max-width: $content-width)
    height: 60px
    margin: 0
    padding: 5px 0 0 16px
    border-bottom: 2px solid $chartbgmob
    display: flex
    flex-direction: column
    justify-content: center
    background-color: $noeventcolor

  &--disabled
    color: $past

  &__name
    font-size: 15px
    font-family: $fontmed
    letter-spacing: 0.2px

    &--swiped
      @media screen and (max-width: $content-width)
        position: fixed
        z-index: 3
        font-size: 11px
        background-color: $noeventcolor
        padding: 0 8px
        transform: translateY(-80%)
        box-shadow: 0 1px 8px 0 rgba(0,44,92,0.28)
        border-radius: 4px
        line-height: 24px
        letter-spacing: 0.4px

    &--selected
      font-family: $fontb
      color: $rommhover

  &__desc
    padding-top: 2px
    font-size: 13px
    letter-spacing: 0.2px
    @media screen and (max-width: $content-width)
      padding: 0