.schedule
  overflow: hidden
  &__layout
    display: flex
  &__day
    width: 1035px
  &__aside
    width: 245px
  &__day-to-display
    height: 46px
    border-bottom: 1px solid $bordercolor
    display: flex
    align-items: center
    justify-content: center
    font-family: $fontmed
    font-size: 15px
  &__timeline
    height: 46px
    border-bottom: 1px solid $bordercolor
    display: flex
    align-items: center
    font-size: 11px
  &__time
    width: 66px
    color: $timeline
    font-family: $fontb
    text-align: right
    &--first
      width: 32px
      flex-grow: 0
    &--last
      width: 13px
      flex-grow: 0
  &__hour
    display: inline-block
    transform: translateX(50%)
    letter-spacing: 0.4px
    &--past
      color: $past
  &__chart
    display: flex
  &__day-name
    margin: 0 15px
    cursor: pointer
  &__timeslot
    position: relative
    min-height: 600px
    padding-top: 20px
    border-right: 1px solid $bordercolor
    flex-grow: 1
    background-color: $chartbg
    &--first
      width: 32px
      border-left: 1px solid $bordercolor
      flex-grow: 0
    &--last
      width: 13px
      border-right: none
      flex-grow: 0
  &__rowslot
    height: 27px
    margin: 10px 0 25px 0
    &--floor
      height: 17px
      margin: 0



      /* content (для псевдоэлементов) */
      /* позиционирование */
      /* размеры */
      /* блочная модель: внутренние и внешние отступы, box-sizing */
      /* границы: border, ourline, тени */
      /* трансформации */
      /* отображение и поведение: display */
      /* оформление фона */
      /* цвета и оформление текста */
      /* переходы и анимация */
      /* все остальное */