.schedule
  /* content (для псевдоэлементов) */
  /* позиционирование */
  /* размеры */
  /* блочная модель: внутренние и внешние отступы, box-sizing */
  /* границы: border, ourline, тени */
  /* трансформации */
  /* отображение и поведение: display */
  /* оформление фона */
  /* цвета и оформление текста */
  /* переходы и анимация */
  /* все остальное */
  &__layout
    /* content (для псевдоэлементов) */
    /* позиционирование */
    /* размеры */
    /* блочная модель: внутренние и внешние отступы, box-sizing */
    /* границы: border, ourline, тени */
    /* трансформации */
    /* отображение и поведение: display */
    display: flex
    /* оформление фона */
    /* цвета и оформление текста */
    /* переходы и анимация */
    /* все остальное */
  &__day
    /* content (для псевдоэлементов) */
    /* позиционирование */
    /* размеры */
    width: 1035px
    /* блочная модель: внутренние и внешние отступы, box-sizing */
    /* границы: border, ourline, тени */
    /* трансформации */
    /* отображение и поведение: display */
    /* оформление фона */
    /* цвета и оформление текста */
    /* переходы и анимация */
    /* все остальное */
  &__aside
    /* content (для псевдоэлементов) */
    /* позиционирование */
    /* размеры */
    width: 245px
    /* блочная модель: внутренние и внешние отступы, box-sizing */
    /* границы: border, ourline, тени */
    /* трансформации */
    /* отображение и поведение: display */
    /* оформление фона */
    /* цвета и оформление текста */
    /* переходы и анимация */
    /* все остальное */
  &__day-to-display
    /* content (для псевдоэлементов) */
    /* позиционирование */
    /* размеры */
    /* блочная модель: внутренние и внешние отступы, box-sizing */
    /* границы: border, ourline, тени */
    /* трансформации */
    /* отображение и поведение: display */
    /* оформление фона */
    /* цвета и оформление текста */
    /* переходы и анимация */
    /* все остальное */
  &__timeline
    /* content (для псевдоэлементов) */
    /* позиционирование */
    /* размеры */
    height: 46px
    /* блочная модель: внутренние и внешние отступы, box-sizing */
    /* границы: border, ourline, тени */
    /* трансформации */
    /* отображение и поведение: display */
    display: flex
    align-items: center
    /* оформление фона */
    /* цвета и оформление текста */
    font-size: 11px
    /* переходы и анимация */
    /* все остальное */
  &__time
    /* content (для псевдоэлементов) */
    /* позиционирование */
    /* размеры */
    /* блочная модель: внутренние и внешние отступы, box-sizing */
    /* границы: border, ourline, тени */
    /* трансформации */
    /* отображение и поведение: display */
    flex-grow: 1
    /* оформление фона */
    /* цвета и оформление текста */
    color: $timeline
    font-family: $fontb
    text-align: right
    /* переходы и анимация */
    /* все остальное */
    &--first
      width: 32px
      flex-grow: 0
    &--last
      width: 13px
      flex-grow: 0
  &__hour
    display: inline-block
    transform: translateX(50%)
    letter-spacing: 0.4px
    &--past
      color: $past
  &__chart
    /* content (для псевдоэлементов) */
    /* позиционирование */
    /* размеры */
    /* блочная модель: внутренние и внешние отступы, box-sizing */
    /* границы: border, ourline, тени */
    /* трансформации */
    /* отображение и поведение: display */
    display: flex
    /* оформление фона */
    /* цвета и оформление текста */
    /* переходы и анимация */
    /* все остальное */
  &__timeslot
    /* content (для псевдоэлементов) */
    /* позиционирование */
    /* размеры */
    //width: 65px
    min-height: 600px
    /* блочная модель: внутренние и внешние отступы, box-sizing */
    /* границы: border, ourline, тени */
    border-right: 1px solid $bordercolor
    /* трансформации */
    /* отображение и поведение: display */
    flex-grow: 1
    /* оформление фона */
    background-color: $chartbg
    /* цвета и оформление текста */
    /* переходы и анимация */
    /* все остальное */
    &--first
      /* content (для псевдоэлементов) */
      /* позиционирование */
      /* размеры */
      width: 32px
      /* блочная модель: внутренние и внешние отступы, box-sizing */
      /* границы: border, ourline, тени */
      border-left: 1px solid $bordercolor
      /* трансформации */
      /* отображение и поведение: display */
      flex-grow: 0
      /* оформление фона */
      /* цвета и оформление текста */
      /* переходы и анимация */
      /* все остальное */
    &--last
      /* content (для псевдоэлементов) */
      /* позиционирование */
      /* размеры */
      width: 13px
      /* блочная модель: внутренние и внешние отступы, box-sizing */
      /* границы: border, ourline, тени */
      border-right: none
      /* трансформации */
      /* отображение и поведение: display */
      flex-grow: 0
      /* оформление фона */
      /* цвета и оформление текста */
      /* переходы и анимация */
      /* все остальное */