.schedule
  overflow: hidden

  &__layout
    display: flex

  &__day
    width: 1035px

  &__aside
    width: 245px

  &__day-to-display
    height: 46px
    border-bottom: 1px solid $bordercolor
    display: flex
    align-items: center
    justify-content: center
    font-family: $fontmed
    font-size: 15px

  &__timeline
    height: 46px
    border-bottom: 1px solid $bordercolor
    display: flex
    align-items: center
    font-size: 11px

  &__time
    width: 66px
    color: $timeline
    font-family: $fontb
    text-align: right

    &--first
      width: 32px
      flex-grow: 0

    &--last
      width: 13px
      flex-grow: 0

  &__hour
    display: inline-block
    transform: translateX(50%)
    letter-spacing: 0.4px

    &--past
      color: $past

  &__chart
    display: flex

  &__day-name
    margin: 0 15px
    cursor: pointer

  &__timeslot
    position: relative
    min-height: 600px
    padding-top: 20px
    border-right: 1px solid $chartborder
    flex-grow: 1
    background-color: $chartbg

    &--first
      width: 32px
      border-left: 1px solid $chartborder
      flex-grow: 0

    &--last
      width: 13px
      border-right: none
      flex-grow: 0

  &__rowslot
    height: 27px
    margin: 10px 0 25px 0

    &--floor
      height: 17px
      margin: 0

  &__innerslot
    position: relative
    height: 100%
    display: inline-block
    cursor: pointer

    &--busy
      background-color: $eventcolor
      &:hover
        background-color: $eventhovercolor

    &--last
      width: 100%
      border-right: none

    &--brdr
      width: calc( 1px + 100% )
      border-right: 1px solid #C0D1E4

    &--selected
    	background-color: $eventhovercolor
    	border-right: 1px solid $eventhovercolor

@for $i from 1 through 12
  @if $i != 12
    .schedule__innerslot--w#{$i}
      width: calc((100%/12) * #{$i})
  @else
    .schedule__innerslot--w#{$i}
      width: calc( 1px + ((100%/12) * #{$i}) )

@for $i from 1 through 11
  .schedule__innerslot--w#{$i}r
    width: calc(1px + ((100%/12) * #{$i}))
    border-right: 1px solid #C0D1E4
    margin-right: -1px

@for $i from 1 through 11
  .schedule__innerslot--w#{$i}r:hover
    border-right: 1px solid #C0D1E4

@for $i from 1 through 12
  @if $i != 12
    .schedule__innerslot--emptyw#{$i}
      background-color: $noeventcolor
      width: calc( (100%/12) * #{$i} )
  @else
    .schedule__innerslot--emptyw#{$i}
      background-color: $noeventcolor
      width: 100%
