.header
  /* content (для псевдоэлементов) */
  /* позиционирование */
  /* размеры */
  width: 100%
  height: 72px
  /* блочная модель: внутренние и внешние отступы, box-sizing */
  box-sizing: border-box
  /* границы: border, ourline, тени */
  border-bottom: 1px solid $bordercolor
  /* трансформации */
  /* отображение и поведение: display */
  /* оформление фона */
  /* цвета и оформление текста */
  /* переходы и анимация */
  /* все остальное */
  &__layout
    display: flex
    justify-content: space-between
    align-items: center
    padding: 0 24px